/* 
    Created on : 30/04/2016, 12:02:42 AM
    Author     : Andrew Dallow
*/

$rgba-primary-0: rgba( 48,111,132,1);	// Main Primary color */
$rgba-primary-1: rgba(123,172,188,1);
$rgba-primary-2: rgba( 75,134,153,1);
$rgba-primary-3: rgba( 27, 92,113,1);
$rgba-primary-4: rgba( 11, 70, 89,1);

$rgba-secondary-1-0: rgba(198, 67, 90,1);	// Main Secondary color (1) */
$rgba-secondary-1-1: rgba(244,156,172,1);
$rgba-secondary-1-2: rgba(230,108,130,1);
$rgba-secondary-1-3: rgba(170, 36, 60,1);
$rgba-secondary-1-4: rgba(134, 12, 33,1);

$rgba-secondary-2-0: rgba(211,181, 71,1);	// Main Secondary color (2) */
$rgba-secondary-2-1: rgba(255,235,163,1);
$rgba-secondary-2-2: rgba(245,217,115,1);
$rgba-secondary-2-3: rgba(181,150, 38,1);
$rgba-secondary-2-4: rgba(143,115, 13,1);

$background_lightgrey: rgba( 0,0,0,0.05);

@import "shared";
@import "chrome";
@import "page_styles"; 
@import "icons";
@import "forms";